<div class="card">
    <div class="card-body">
        <ul class="nav nav-secondary">
            <li routerLinkActive="active">
                <a [routerLink]="['./flight-search']">Select flight</a>
            </li>
  
            &nbsp; | &nbsp; <!-- Separator between menu items -->
  
            <li routerLinkActive="active">
                <a [routerLink]="['./passenger-search']">Select passenger</a>
            </li>
        </ul>
  
    </div>
  </div>
  
  <router-outlet></router-outlet>